<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png" />

    <script defer src="../js/script.js"></script>

    <title>Craigslist - Category</title>

</head>

<body>
    <header class="menu-principal">
        <div class="logo">
            <a href="./home.html"><img src="../img/logoCraig.png" height="95" /></a>
        </div>
        <ul class="menu-s">
            <li><a href="./faq.html">FAQ</a></li>
            <li><a href="#">SAFETY</a></li>
            <li><a href="./category.html">CATEGORY</a></li>
            <li><a href="#">ABUSE</a></li>
        </ul>
        <span class="material-symbols-outlined"><a href="#">account_circle</a></span>
        <div class="buttons">
            <button class="bt-post"><a href="#">POST AN AD</a></button>

            <div class="dropdown">
                <button class="bt-drop">ENGLISH</button>
                <div class="dropdown-content">
                    <a href="#">PORTUGUÊS</a>
                    <a href="#">ESPANHOL</a>
                    <a href="#">CHINÊS</a>
                </div>
            </div>
        </div>
    </header>
    <div class="search-section">
        <div class="tet">
            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="title">
                <h1 aria-level="2">Categories</h1>
            </div>
            <ul class="options">
                <li class="opt a"><a href="#">All Categories</a></li>
                <li class="opt pri"><a href="#">For Sale</a></li>
                <li class="opt a"><a href="#Automóveis">Para casa</a></li>
                <li class="opt a"><a href="#Automóveis">Automóveis</a></li>
                <li class="opt a"><a href="#Eletrodomésticos">Eletrodomésticos</a></li>
                <li class="opt a"><a href="#Informática">Informática</a></li>
                <li class="opt a"><a href="#Esportes">Esportes</a></li>
                <li class="opt a"><a href="#Moda e Beleza">Moda e Beleza</a></li>
                <li class="opt a"><a href="#Brinquedos">Brinquedos</a></li>
                <li class="opt a"><a href="#Leitura">Leitura</a></li>
                <li class="opt a"><a href="#More">+ More</a></li>
            </ul>
            <div class="filter-price">
                <p>Price</p>
                <form>

                    <label data-unit="R$" class="c-product-feed-filters__option-field -price"> de </label>
                    <input type="" name="price_min" pattern="\d*" data-test="input-preco-de" placeholder="R$"
                        class="o-input">
                    <label data-unit="R$" class="c-product-feed-filters__option-field -price"> até </label>
                    <input type="" name="price_max" pattern="\d*" data-test="input-preco-de" placeholder="R$"
                        class="o-input">
                </form>
            </div>
            <br><br><br>
        </div>
        <div class="products-area">
            <div class="products-filtrados">
                <div class="item-filter">
                    <img src="../img/monza.PNG" alt="Chevrolet Monza" class="filter-img-item">
                    <h3 class="filter-item-title">Chevrolet Monza 1993</h3>
                    <div class="filter-item-price">
                        <span>R$17.000</span>
                    </div>
                </div>
                <div class="item-filter">
                    <img src="../img/índicecelta.jpeg" alt="Gol" class="filter-img-item">
                    <h3 class="filter-item-title">Celta 2003</h3>
                    <div class="filter-item-price">
                        <span>R$19.000</span>
                    </div>
                </div>
                <div class="item-filter">
                    <img src="../img/das.jpeg" alt="Gol" class="filter-img-item">
                    <h3 class="filter-item-title">Volkswagen Gol 1999</h3>
                    <div class="filter-item-price">
                        <span>R$14.000</span>
                    </div>
                </div>
            </div>

            <div class="products-filtr">
                <div class="item-filter">
                    <img src="../img/índice.jpeg" alt="Chevrolet Monza" class="filter-img-item">
                    <h3 class="filter-item-title">Fiat</h3>
                    <div class="filter-item-price">
                        <span>R$48.000</span>
                    </div>
                </div>
                <div class="item-filter">
                    <img src="../img/images.jpeg" alt="Gol" class="filter-img-item">
                    <h3 class="filter-item-title">Camaro </h3>
                    <div class="filter-item-price">
                        <span>R$60.000</span>
                    </div>
                </div>
                <div class="item-filter">
                    <img src="../img/fus.jpeg" alt="Gol" class="filter-img-item">
                    <h3 class="filter-item-title">Volkswagen Fusca</h3>
                    <div class="filter-item-price">
                        <span>R$20.000</span>
                    </div>
                </div>
            </div>
            <div class="products-filt">
                <div class="item-filter">
                    <img src="../img/62b37b5110b403c30e4914c5_carros-usados-baratos.jpg" alt="Chevrolet Monza"
                        class="filter-img-item">
                    <h3 class="filter-item-title">Ford EcoSport</h3>
                    <div class="filter-item-price">
                        <span>R$33.000</span>
                    </div>
                </div>
                <div class="item-filter">
                    <img src="../img/t6ef87399-2050-4b12-bab7-81f67ea8db4d.jpg" alt="Gol" class="filter-img-item">
                    <h3 class="filter-item-title">Volkswagen Space Cross</h3>
                    <div class="filter-item-price">
                        <span>R$70.000</span>
                    </div>
                </div>
                <div class="item-filter">
                    <img src="../img/onix.jpeg" alt="Gol" class="filter-img-item">
                    <h3 class="filter-item-title">Chevrolet Onix</h3>
                    <div class="filter-item-price">
                        <span>R$54.000</span>
                    </div>
                </div>
            </div>
            <div class="products-filt">
                <div class="item-filter">
                    <img src="../img/nivus.jpeg" alt="Chevrolet Monza" class="filter-img-item">
                    <h3 class="filter-item-title">Volkswagen Nivus</h3>
                    <div class="filter-item-price">
                        <span>R$32.000</span>
                    </div>
                </div>
                <div class="item-filter">
                    <img src="../img/saveiro.JPG" alt="Gol" class="filter-img-item">
                    <h3 class="filter-item-title">Volkswagen Saveiro</h3>
                    <div class="filter-item-price">
                        <span>R$54.000</span>
                    </div>
                </div>
                <div class="item-filter">
                    <img src="../img/parati.jpeg" alt="Gol" class="filter-img-item">
                    <h3 class="filter-item-title">Volkswagen Parati</h3>
                    <div class="filter-item-price">
                        <span>R$54.000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            <div class="footer-box">
                <div class="company-footer">
                    <h2>Mapa do site</h2>
                    <ul class="footer-list">
                        <li>
                            <a href="#">Quem somos?</a>
                        </li>
                        <li>
                            <a href="#">Promoções</a>
                        </li>
                        <li>
                            <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-box">
                <div class="contact-footer">
                    <h2>Precisa de ajuda?</h2>
                    <ul class="footer-list">
                        <li>
                            <a href="./contato.html">Fale conosco</a>
                        </li>
                        <li>
                            <a href="#">Chat online</a>
                        </li>
                        <li>
                            <a href="#">E-mail</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-box">
                <div class="contact-footer">
                    <h2>Siga-nos nas redes sociais</h2>
                    <ul class="footer-list">
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrapper">
                <img src="../img/logoCraig.png" class="center" alt="Craigslist logo" width="140" height="100">
                <p class="copy">Copyright© 2022 F1-AW1. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>
</body>
</html>